<% content_for :title do %>
  Home
<% end %>

<h1>GreatStudier</h1>
<h2><%= link_to 'GitHub Source Code', 'https://github.com/ez500/GreatStudier-Rewrite', target:'_blank' %></h2>
<br>
<br>
<%= link_to 'New Set', new_card_set_path, class: 'btn btn-primary' %>
<%= link_to 'Explore Sets', card_sets_path, class: 'btn btn-primary' %>