<h1>GreatStudier</h1>
<h2><%= link_to 'GitHub Source Code', 'https://github.com/ez500/GreatStudier-Rewrite', target:'_blank' %></h2>
<h3><%= link_to 'Create New Set', new_card_set_path %></h3>
<h3><%= link_to 'All Sets', card_sets_path %></h3>