<% content_for :title do %>
  Home
<% end %>

<h1>GreatStudier</h1>
<br>
<div class="row">
  <div style="margin-bottom: 35px;">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Free and Open Source</h5>
        <p class="card-text">
          GreatStudier is a free and open source application. Anyone can view the source code and contribute to the project. Licensed under the GNU General Public License v3.
        </p>
        <a href="https://github.com/ez500/GreatStudier-Rewrite" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 35px;">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Minimalistic</h5>
        <p class="card-text">
          GreatStudier is designed to be minimalistic and easy to use. It's not bloated with unnecessary popups and ads. It's just a simple flashcard app. Allowing you to be productive with your studying.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="card shadow-sm" style="margin-bottom: 35px;">
      <div class="card-body">
        <h5 class="card-title">Fast</h5>
        <p class="card-text">
          GreatStudier is designed to be fast. It's built with Ruby on Rails, a fast and reliable web framework.
        </p>
      </div>
    </div>
  </div>
</div>