<% content_for :title do %>
  All Sets
<% end %>

<div class="row">
  <div class="col">
    <br>
    <h1>All Sets</h1>
    <br>
    <% if @sets.empty? %>
      <p>There are no sets yet. Be the first to create one!</p>
      <br>
    <% else %>
      <% @sets.each do |set| %>
        <%= render 'card', set: set %>
        <br>
      <% end %>
    <% end %>

    <%= paginate @sets %>

    <br>
  </div>
</div>
