<% content_for :title do %>
  <% if current_user.id == @user.id %>
    Your Study Sets
  <% else %>
    <%= @user.id %>'s Study Sets
  <% end %>
<% end %>

<div class="row">
  <div class="col">
    <%= render 'user_header' %>

    <% @sets.each do |set| %>
      <%= render 'card_sets/card', set: set %>
    <% end %>

    <%= paginate @sets %> 

    <br>
  </div>
</div>
