<% content_for :title do %>
  <% if user_signed_in? && current_user.id == @user.id %>
    Your Study Sets
  <% else %>
    <%= @user.username %>'s Study Sets
  <% end %>
<% end %>

<div class="row">
  <div class="col">
    <%= render 'user_header' %>

    <% unless @sets.empty? %>
      <% @sets.each do |set| %>
        <%= render 'card_sets/card', set: set %>
      <% end %>

      <%= paginate @sets %> 
    <% else %>
      This user currently does not have any sets.
    <% end %>
    <br>
  </div>
</div>
