<% content_for :title do %>
  <% if current_user.id == @user.id %>
    Your Profile 
  <% else %>
    <%= @user.id %>'s Profile 
  <% end %>
<% end %>

<div class="row">
  <div class="col">
    <%= render 'user_header' %>
    <p><b>Account Creation Date</b>: <%= @user.created_at %></p>
  </div>
</div>
