<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightgray;
        color: black;
        text-align: center;
        line-height: 0.5
    }
</style>

<div class="footer">
  <br>
  <p>
    <%= link_to 'GitHub Source Code', 'https://github.com/ez500/GreatStudier-Rewrite', target: '_blank' %>
  </p>
  <p>Copyright © 2023 BiGGDev</p>
</div>