<div class="footer-format">
  <br>
  <p>
    <%= link_to 'GitHub Source Code', 'https://github.com/BiGGDevOrg/GreatStudier-Rewrite', target: '_blank' %>
  </p>
  <p>Copyright © 2023 BiGGDev</p>
  <br>
</div>