<style>
    .footer-format {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #f5f5f5;
        color: black;
        text-align: center;
        line-height: 0.5;
        padding-top: 10px;
    }
</style>

<div class="footer-format">
  <br>
  <p>
    <%= link_to 'GitHub Source Code', 'https://github.com/BiGGDevOrg/GreatStudier-Rewrite', target: '_blank' %>
  </p>
  <p>Copyright © 2023 BiGGDev</p>
  <br>
</div>