<nav class="navbar bg-light navbar-expand-lg sticky-top p-1 shadow">
  <a class="navbar-brand px-2 text-primary" href="/">
    <b>GreatStudier</b>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item item">
        <a class="nav-link text-primary" href="/">Home</a>
      </li>
      <li class="nav-item item">
        <a class="nav-link text-primary" href="/s">Explore Sets</a>
      </li>
      <li class="nav-item item">
        <a class="nav-link text-primary" href="https://github.com/ez500/GreatStudier-Rewrite" target="_blank">GitHub</a>
      </li>
    </ul>
    <button class="nav-item dropdown btn btn-outline-primary" style="margin-right: 15px;">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
        New Set
      </a>
      <div class="dropdown-menu dropdown-menu-md-end">
        <a class="dropdown-item" href="/s/new">Create a New Set</a>
        <a class="dropdown-item" href="/upload">Upload a Set</a>
      </div>
    </button>
  </div>
</nav>
