<nav class="navbar bg-light navbar-expand-lg sticky-top p-1 shadow">
  <!-- TODO: add navbar-dark css -->
  <a class="navbar-brand px-2 text-primary" href="/">
    <b>GreatStudier</b>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item item">
        <a class="nav-link text-primary" href="/">Home</a>
      </li>
      <li class="nav-item item">
        <a class="nav-link text-primary" href="/s">Explore Sets</a>
      </li>
      <li class="nav-item item">
        <a class="nav-link text-primary" href="https://github.com/ez500/GreatStudier-Rewrite" target="_blank">GitHub</a>
      </li>
    </ul>
    <% unless current_page?(:controller => 'card_sets', :action => 'new') or current_page?(:controller => 'card_sets', :action => 'index') %>
    <%=  link_to 'New Set', new_card_set_path, class: 'btn btn-outline-primary', style: 'margin-right: 15px;' %>
    <% end %>
  </div>
</nav>
