<header class="navbar navbar-dark navbar-expand-lg sticky-top p-1 shadow">
  <a class="navbar-brand px-2 text-primary" href="/">
    <b>GreatStudier</b>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav pe-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item item">
        <a class="nav-link text-primary" href="/">Home</a>
      </li>
      <li class="nav-item item">
        <a class="nav-link text-primary" href="/s">Explore Sets</a>
      </li>
      <li class="nav-item item">
        <a class="nav-link text-primary" href="/s/new">New Set</a>
      </li>
      <li class="nav-item item">
        <a class="nav-link text-primary" href="https://github.com/ez500/GreatStudier-Rewrite" target="_blank">Github</a>
      </li>
    </ul>
  </div>
</header>
