<div data-controller="hotkeys quiz" data-quiz-cards-value="<%= @cards %>" data-quiz-is-review-value="<%= @is_review %>" data-quiz-id-value="<%= @card_set_id %>" data-hotkeys-bindings-value='{"enter": "quiz#check"}'>
  <div data-quiz-target="label"></div>
  <br>
  <h4 data-quiz-target="term"></h4>
  <br>
  <form>
    <input type="text" data-quiz-target="guess" data-action="keypress.enter->quiz#check" id="input"
           placeholder="Type an answer." style="width:100%; margin-bottom: 20px">
    <br>
    <button type="button" data-quiz-target="button" data-action="click->quiz#check" class="btn btn-success">
      Check
    </button>
    <button type="button" data-quiz-target="overwriteButton" data-action="click->quiz#overwrite" class="btn btn-success" hidden>
      Overwrite Answer 
    </button>
  </form>
  <br>
  <p data-quiz-target="correctness"></p>
</div>
