<div data-controller="quiz" data-quiz-cards-value="<%= @cards %>" data-quiz-is-review-value="<%= @is_review %>" data-quiz-id-value="<%= @card_set_id %>">
  <p data-quiz-target="label"></p>
  <p data-quiz-target="term"></p>
  <br>
  <form>
    <input type="text" data-quiz-target="guess" data-action="keypress.enter->quiz#check" id="input"
           placeholder="Type an answer." style="width:100%; margin-bottom: 20px">
    <br>
    <button type="button" data-quiz-target="button" data-action="click->quiz#check" class="btn btn-success justify-right">
      Check
    </button>
  </form>
  <br>
  <p data-quiz-target="correctness"></p>
</div>