<h1>STUDY</h1>
<div data-controller="study" data-study-cards-value="<%= @cards %>" data-study-index-value="<%= @index %>">
  <p data-study-target="label"></p>
  <p data-study-target="term"></p>
  <br>
  <form>
    <input type="text" data-study-target="guess" data-action="keypress.enter->study#check" id="input"><br>
    <button type="button" data-study-target="button" data-action="click->study#check">Check</button>
  </form>
  <br>
  <p data-study-target="correctness"></p>
</div>
<%= link_to "Back to Set", card_set_url(@card_set_id) %>